Repository trajano/expo-experiments: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, my-app-lint, my-app-tsc, my-text-lint, my-text-tsc

prettier:
  run: npx prettier --write {staged_files}

my-app-lint:
  run: npx eslint --fix {staged_files}

my-app-tsc:
  run: npx tsc

my-text-lint:
  run: npx eslint --fix {staged_files}

my-text-tsc:
  run: npx tsc --noEmit

chore: left hook
  lefthook.yml
Due: prettier

chore: left hook
  .prettierrc.json
  libs/my-text/package.json
Due: prettier

X
  apps/my-app/package.json
  apps/my-app/src/app/(tabs)/_layout.tsx
  apps/my-app/src/app/(tabs)/index.tsx
  bun.lockb
  libs/my-text/package.json
  package.json
Due: prettier, my-app-lint, my-app-tsc

X
  apps/my-app/src/app/(tabs)/_layout.tsx
  bun.lockb
  libs/my-text/package.json
  libs/my-text/src/__tests__/index.test.tsx
  libs/my-text/src/index.tsx
Due: prettier, my-app-lint, my-app-tsc, my-text-lint, my-text-tsc

X
  bun.lockb
  libs/my-text/package.json
  libs/my-text/src/index.tsx
Due: prettier, my-text-lint, my-text-tsc

before refactor
  libs/my-text/src/MyText.test.tsx
  libs/my-text/src/MyText.tsx
  libs/my-text/src/MyText.types.ts
  libs/my-text/src/mapToEmbeddedFontFamily.test.ts
  libs/my-text/src/mapToGoogleFontKey.ts
  libs/my-text/src/useExpoGoogleFonts.ts
Due: prettier, my-text-lint, my-text-tsc

X
  apps/my-app/.eslintrc.json
  apps/my-app/package.json
  apps/my-app/src/app/(tabs)/_layout.tsx
  apps/my-app/src/app/(tabs)/index.tsx
  apps/my-app/src/app/_layout.tsx
  bun.lockb
  libs/my-text/src/MyText.tsx
  libs/my-text/src/index.tsx
  libs/my-text/src/mapToEmbeddedFontFamily.test.ts
  libs/my-text/src/useExpoGoogleFonts.ts
  package.json
Due: prettier, my-app-lint, my-app-tsc, my-text-lint, my-text-tsc

remove lint errors
  bun.lockb
  libs/my-text/babel.config.js
  libs/my-text/lefthook.yml
  libs/my-text/package.json
  libs/my-text/src/MyText.test.tsx
  libs/my-text/src/mapToEmbeddedFontFamily.test.ts
  libs/my-text/src/useExpoGoogleFonts.ts
Due: prettier, my-text-lint, my-text-tsc

removed create-react-native-library cruft
  bun.lockb
  libs/my-text/.gitignore
  libs/my-text/babel.config.json
  libs/my-text/package.json
  libs/my-text/src/index.ts
  libs/my-text/src/mapToEmbeddedFontFamily.test.ts
  libs/my-text/tsconfig.json
  libs/my-text/tsup.config.ts
Due: prettier, my-text-lint, my-text-tsc

more cruft removed
  libs/my-text/package.json
  libs/my-text/src/MyText.tsx
  libs/my-text/src/MyText.types.ts
Due: prettier, my-text-lint, my-text-tsc

X
  apps/my-app/package.json
  apps/my-app/src/components/ThemedText.tsx
  bun.lockb
  libs/my-text/src/useFontStyles.ts
Due: prettier, my-app-lint, my-app-tsc, my-text-lint, my-text-tsc

X
  packages/my-app/src/app/(tabs)/_layout.tsx
  packages/my-app/src/app/(tabs)/explore.tsx
  packages/my-app/src/app/(tabs)/index.tsx
  packages/my-app/src/components/ThemedText.tsx
  packages/my-text/src/MyText.test.tsx
  packages/my-text/src/MyText.tsx
Due: prettier

exclude dist folder
  .vscode/settings.json
  packages/my-text/src/index.ts
Due: prettier

good the module works well woo hoo
  package.json
  packages/my-app/src/app/(tabs)/index.tsx
  packages/my-app/src/app/_layout.tsx
  packages/my-app/src/components/ThemedText.tsx
Due: prettier

removed commented out code
  packages/my-text/tsconfig.json
Due: prettier

use npm
  bun.lockb
  package-lock.json
  package.json
  packages/my-app/babel.config.js
  packages/my-app/babel.config.json
  packages/my-app/package.json
  packages/my-app/src/components/__tests__/ThemedText-test.tsx
  packages/my-app/src/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  packages/my-text/src/MyText.test.tsx
  packages/my-text/src/__snapshots__/MyText.test.tsx.snap
  packages/my-text/tsconfig.json
Due: prettier

updated readme
  README.md
  package-lock.json
  package.json
Due: prettier

sanitized .gitignore
  .gitattributes
  .gitignore
Due: none

sanitized .gitignore
  .gitignore
Due: none

Keep calm and commit
  .husky/pre-commit
  .vscode/settings.json
  package.json
  packages/my-app/.eslintrc.js
  packages/my-app/.eslintrc.json
  packages/my-text/package.json
Due: prettier

chore: commitlint
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier

chore: lintstaged
  .husky/pre-commit
  .lintstagedrc.yml
  packages/my-app/.lintstagedrc.yml
  packages/my-text/.lintstagedrc.yml
  packages/my-text/src/MyText.test.tsx
Due: prettier

chore: lintstaged
  .lintstagedrc.mjs
  .lintstagedrc.yml
  package.json
  packages/my-app/.lintstagedrc.mjs
  packages/my-app/.lintstagedrc.yml
  packages/my-text/.lintstagedrc.mjs
  packages/my-text/.lintstagedrc.yml
  packages/my-text/src/MyText.tsx
  packages/my-text/src/__snapshots__/MyText.test.tsx.snap
  packages/my-text/src/mapToEmbeddedFontFamily.test.ts
  packages/my-text/src/mapToEmbeddedFontFamily.ts
Due: prettier

fix: stuff
  README.md
  package.json
  packages/my-app/.lintstagedrc.mjs
  packages/my-app/package.json
  packages/my-app/src/components/ExternalLink.tsx
Due: prettier

fix: stuff
  .lintstagedrc.mjs
  packages/my-app/.lintstagedrc.mjs
  packages/my-text/.lintstagedrc.mjs
Due: none

fix: stuff
  package.json
Due: prettier

fix: stuff
  .gitattributes
Due: none

chore: just commited, not really tested
  .gitignore
  .npmrc
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  jest.config.ts
  lefthook.yml
  package-lock.json
  package.json
  packages/my-app/package.json
Due: prettier

test: coverage
  .vscode/launch.json
  .vscode/settings.json
  package.json
  packages/my-text/src/useExpoGoogleFonts.test.ts
Due: prettier

test: coverage
  packages/my-text/src/MyText.tsx
Due: prettier

test: coverage
  packages/my-text/src/MyTextE.test.tsx
Due: prettier

test: coverage
  .editorconfig
Due: none

chore: just commited, not really tested
  packages/my-text/package.json
  packages/my-text/src/MyTextE.test.tsx
Due: prettier

chore: whatever
  jest.config.ts
  package-lock.json
  packages/my-app/package.json
  packages/my-app/src/app/(tabs)/index.tsx
  packages/my-text/package.json
  packages/my-text/src/MyText.tsx
Due: prettier

feat: lerna
  lerna.json
  package-lock.json
  package.json
  packages/my-app/package.json
Due: prettier

chore: added dev
  package.json
Due: prettier

chore: whatevs
  .lintstagedrc.mjs
  package-lock.json
  packages/my-app/package.json
  packages/my-text/.lintstagedrc.mjs
  packages/my-text/src/MyText.tsx
  packages/my-text/src/MyText.types.ts
  packages/my-text/src/MyTextE.test.tsx
Due: prettier

fix: random
  package-lock.json
  package.json
  packages/my-app/package.json
  packages/my-text/src/createMyTextComponent.tsx
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,tsx,vue,json,css,scss,md,yaml,yml}
  my-app-lint: any of: *.{ts,tsx} and ^apps/my\-app/
  my-app-tsc: any of: *.{ts,tsx} and ^apps/my\-app/
  my-text-lint: any of: *.{ts,tsx} and ^libs/my\-text/
  my-text-tsc: any of: *.{ts,tsx} and ^libs/my\-text/
